@font-face {
  font-family: 'ALSRubl-Arial';
  src: url('alsrubl-arial-regular.eot');
  src: url('alsrubl-arial-regular-1.eot') format('embedded-opentype'),url('alsrubl-arial-regular.woff') format('woff'), url('alsrubl-arial-regular.ttf') format('truetype'), url('alsrubl-arial-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ALSRubl-Arial';
  src: url('alsrubl-arial-italic.eot');
  src: url('alsrubl-arial-italic-1.eot') format('embedded-opentype'), url('alsrubl-arial-italic.woff') format('woff'), url('alsrubl-arial-italic.ttf') format('truetype'), url('alsrubl-arial-italic.svg') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ALSRubl-Arial';
  src: url('alsrubl-arial-bold.eot');
  src: url('alsrubl-arial-bold-1.eot') format('embedded-opentype'), url('alsrubl-arial-bold.woff') format('woff'), url('alsrubl-arial-bold.ttf') format('truetype'), url('alsrubl-arial-bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ALSRubl-Arial';
  src: url('alsrubl-arial-bolditalic.eot');
  src: url('alsrubl-arial-bolditalic-1.eot') format('embedded-opentype'), url('alsrubl-arial-bolditalic.woff') format('woff'), url('alsrubl-arial-bolditalic.ttf') format('truetype'), url('alsrubl-arial-bolditalic.svg') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/*
  <span class="ruble">ла</span>
*/
.ruble {
  font-family: 'ALSRubl-Arial', Arial, sans-serif;
  line-height: normal;
}
